{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>nVarap's Flask Web Server</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/logo2.png') }}" alt="Python Development" height="250" width = "250">
                    <div class="card-body">
                    <h5 class="card-title">Who is <mark>nVarap</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>my name is nVarap and I am a student, app developer, and coder. </li>
                            <li>I have worked on multiple different projects, apps, and games in a multiplicity of lanugages</li>
                            <li>I also use github and other programming services to assist me in programming</li>
                            <li>My scrum team consists of three other members of my APCSP class and we have programmed multiple applications together</li>
                            <li>I am proficient in python, java, javascript, c#, dart, and swift.</li>
                        </ol>
                    </p>
                    <a href="https://nvarap.github.io/blog/" class="btn btn-primary">My Blog!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/DnDLogo.png') }}" alt="Made by Thien-Nam Huynh, credit goes to him" height="250" width = "250">
                    <div class="card-body">
                    <h5 class="card-title">What are <mark>my hobbies?</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>When I'm not working on coding or school work, I like to play table-top games with friends</li>
                            <li>I enjoy playing games like Dungeons and Dragons, Warhammer 40.000, Settlers of Catan, and more!</li>
                            <li>I also like playing trading card games, such as Yu-Gi-Oh! and Magic the Gathering</li>
                        </ol>
                    </p>
                    <a href="https://www.youtube.com/shorts/QTT5iHCHSn0" class="btn btn-primary">Check out the TTGs Club!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}