{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "newpage" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Updates With Deployment</strong></h1>
        <p class="text-secondary">I need to still deploy the browser with the custom 
            domain and the browser showing up. however, I cannot get our IP up with our 
            group flask repository.
        </p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}